body {
    font-family: Roboto, Courier, sans-serif;
    background: #1F232C;
}

.container {
    position: relative;
}

.app-editor-wrapper {
    margin: 1vh 0 0 1vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    position: absolute;
    width: 40.5vw;
    height: 60vh;
    border-radius: 20px 20px 0 20px;
    background-color: #282A36;
    z-index: 10;
    opacity: 0.90;
}

.app-editor {
    width: 100%;
    height: 100%;
}

.app-editor-drag-bar {
    opacity: 1;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 9;
    width: 20px;
    height: 20px;
    border-style: solid;
    border-width: 0 2px 2px 0;
    border-color: transparent #C8C8C8 #C8C8C8 transparent;
}

.menu {
    margin-top: 3.5vh;
    height: 15%;
}

.show-help-button {
    height: 1.4vw;
    width: 1.4vw;
    background: transparent;
    border: transparent;
    cursor: pointer;
    outline: none;
    margin-top: 2.1vh;
    margin-left: 1vw;
    float: left;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    position: relative;
    font-size: 1.6vw;
    background: transparent;
}

.hidden-help {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #D2735D !important;
    background: transparent;
}

.help-animation {
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}

@-webkit-keyframes glowing {
    0% { color: #D2735D}
    50% {color: #5DBCD2}
    100% { color: #D2735D}
}

@-moz-keyframes glowing {
    0% { color: #D2735D}
    50% {color: #5DBCD2}
    100% { color: #D2735D}
}

@-o-keyframes glowing {
    0% { color: #D2735D}
    50% {color: #5DBCD2}
    100% { color: #D2735D}
}

@keyframes glowing {
    0% { color: #D2735D}
    50% {color: #5DBCD2}
    100% { color: #D2735D}
}

.visible-help {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #5DBCD2 !important;
    background: transparent;
}

.help-modal {
    z-index: 11;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.help-modal-content {
    color: white;
    text-align: justify;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    padding: 2rem 3rem 2rem 3rem;
    width: 30vw;
    border-radius: 0.5rem;
    font-size: 1.8vh;
    cursor: default;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

h1, h2 {
    text-align: center;
}

a {
    color: #D2735D;
}

.show-console-button {
    height: 1.4vw;
    width: 1.4vw;
    cursor: pointer;
    background: transparent;
    border: transparent;
    outline: none;
    margin-top: 2.1vh;
    margin-left: 1.5vw;
    float: left;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    position: relative;
    font-size: 1vw;
}

.hidden-console {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #D2735D !important;
    background: transparent;
}

.visible-console {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #5DBCD2 !important;
    background: transparent;
}

.theme-change-button {
    height: 1.8vw;
    width: 1.8vw;
    border-radius: 50%;
    background: linear-gradient(to right,
    #282A36 0%,
    #282A36 55%,
    #FCF7E3 50%,
    #FCF7E3 100%);
    border: solid 1px #282A36;
    cursor: pointer;
    outline: none;
    margin-top: 1.6vh;
    margin-left: 1.5vw;
    float: left;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.ds-selector {
    margin-top: 1.9vh;
    margin-left: 1.5vw;
    position: relative;
    display: inline-block;
    float: left;
}

.ds-selector-button {
    height: 1.4vw;
    width: 1.4vw;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 6px;
    outline: none;
    background: transparent;
    border: transparent;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    font-size: 1.2vw;
}

.list-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #D2735D !important;
    background: transparent;
}

.ds-selector-content {
    display: none;
    position: absolute;
    background: transparent;
    width: 6vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 0.3vw 1vh;
    z-index: 1;
    color: #D2735D;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.6vw;
    margin: auto;
    font-family: 'Arial', serif;
    cursor: pointer;
}

.ds-selector:hover .ds-selector-content {
    display: flex;
}

.ds {
    margin: auto;
    text-align: center;
}

.run-button {
    color: #D2735D;
    border: 2px solid #D2735D;
    background: transparent;
    border-radius: 6px;
    padding: 0.5vw 2vh;
    text-align: center;
    display: inline-block;
    font-size: 0.8vw;
    margin-top: 1.2vh;
    margin-right: 0.5vw;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    float: right;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    z-index: 10;
    outline: none;
}

.run-button:hover {
    background-color: #D2735D;
    color: white;
}

#nodes {
    position: absolute;
}

.draggable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
}

.draggable:active {
    cursor: grabbing;
}

#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: #282A36;
    background-image: url("spinner.gif");
    background-repeat: no-repeat;
    background-position: center;
}