.container {
    position: relative;
}

.input {
    position: absolute;
    z-index: 10;
}

.canvas {
    position: absolute;
}

#editor {
    margin: 1vh 0 1vh 1vw;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 34%;
    height: 98%;
    border-radius: 20px;
    resize: both;
}

.ace_content {
    margin-top: 2vh;
}

.ace_gutter-layer {
    margin-top: 2vh;
}

